/* You can add global styles to this file, and also import other style files */
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  input {
    width: 50px;
    font-size: 20px;
    text-align: center;
    // margin: 5px;
  }
  
  .controls button {
    margin: 5px;
  }
  
  .countdown-display {
    font-size: 30px;
    margin-top: 20px;
  }
  .container-lables{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 40%;
    // gap: 20px;
    // letter-spacing: 0ch;
    .container-lables-label{
      justify-content: space-between;
      // margin: auto;
    }
  }
  .container-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 20px;
    .container-input-time{

    }
    .colon{
      font-size: 18px;
    }
  }
  .controls{
    display: flex;
    width: 40%;
    button{
      width: 50%;
      border: none;
      height: 30px;
      color: white;
    }
    .start{
      background-color: green;
    }
    .reset{
      background-color: red;
    }
    .pause{
      background-color: yellowgreen;
    }
    .continue{
      background-color: aquamarine;
    }
  }